%h1 Users

%table.table.table-condensed
  %tr
    %th Email

  - @users.each do |user|
    %tr
      %td
        - if current_user.can_view?(user)
          = link_to user.email, user
        - else
          [Anonymous]
