.metadata-container{'ng-controller' => 'MetadataCtrl', 'ng-init' => "metadata=#{@attributes}"}
  %h2
    Metadata
    %button{type: 'button', class: 'btn', 'ng-click' => 'metadata.push({})'} Add metadata
  .form-group{'ng-controller' => 'MDCtrl', 'ng-repeat' => 'md in metadata'}
    %input{'ng-model' => "md.key_name", id: "{{input_id('key_name')}}", name: "{{input_name('key_name')}}"}
    \ =>
    = select_tag(:type, options_for_select([:integer, :string, :boolean]),
      name: "{{input_name('type')}}", 'ng-model' => 'md.type', id: "{{input_id('type')}}")
    \ =>
    %span{'ng-switch' => '', 'on' => 'md.type'}
      - {'text' => 'string', 'number' => 'integer', 'checkbox' => 'boolean'}.each do |type, switch|
        %input{name: "{{input_name('value')}}", id: "{{input_id('value')}}",
          'ng-model' => 'md.value', type: type, 'ng-switch-when' => switch}
    %a{href: '#', class: 'fa fa-times', 'ng-click' => 'delete(md)'}
