%h1 My Days. All of them.

%table.table.table-condensed
  %tr
    %th Date
    %th Summary
    %th Posts

  - @days.each do |day|
    %tr{class: impact_class(day)}
      %td{nowrap: true}= link_to day.date, day
      %td= day.summary
      %td= day.posts.count

%br

= link_to 'New Day', new_day_path
