%h1 Listing photos

%table
  %tr
    %th Caption
    %th Filename
    %th Date
    %th

  - @photos.each do |photo|
    %tr
      %td= link_to photo.caption || "N/A", photo
      %td= link_to photo.filename, photo.image_path
      %td= photo.date
      %td= link_to 'Edit', edit_photo_path(photo)
