%h1 Listing photos

%table
  %tr
    %th Caption
    %th URL
    %th Date
    %th

  - @photos.each do |photo|
    %tr
      %td= link_to photo.caption || "N/A", photo
      %td= link_to photo.s3_url, photo.s3_url
      %td= photo.date
      %td= link_to 'Edit', edit_photo_path(photo)
