%h1 Listing posts

%table
  %tr
    %th Title
    %th Day

  - @posts.each do |post|
    %tr
      %td= link_to post.title, post
      %td= link_to post.date, post.day

%br

= link_to 'New Post', new_post_path
